<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Ня</title>

    <link rel="shortcut icon" href="/img/Flower.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
</head>
<body> 
  <main>
    <div class="avatar-main">
      <img src="/img/masha.webp" alt="Аватар студента">
    </div>

    <div class="student-name">
        Машуня
    </div>

    <div class="site-description">
      <p>
        Данный сайт предназначен исключительно для образовательных целей.
        Администрация сайта настоятельно просит вас не вводить здесь свои реальные пароли, адреса электронной почты или любые другие конфиденциальные данные.
        Мы не несем ответственности за безопасность информации, введенной на данном ресурсе.
        Пользуясь сайтом, вы осознаете и принимаете все изложенные выше правила и условия.
      </p>
    </div>

    <button class="login"><a href="/auth">Войти</a></button>
  </main>
  
  <p class="author">Design assistance <a href="https://danone.dev">@danoneofficial</a></p>
</body>
</html>
